*.o
*.d
!**/Drivers/**/ARMARCH7gnu_SMP
.coveragescope
default/
prjParams.h
prjConfig.c
prjObjs.lst
prjComps.h
linkSyms.c
compObjs.lst
content.romfs
**/SMP_WindMl/Makefile
**/SMP_WindMl/Makefile.mk
**/SMP_WindMl/*.wpj
*Error.txt
*Result.txt
**/windml-5.3/**
!**/windml-5.3/config.windml
!/Fusion_Patches/Components/windml-5.3/**
*.orig
*.bak
.log/
**/BootImage/**
lost+found/
ARMARCH7gnu_SMP/
PPC32gnu/
NonDebug/
Debug/
Release/
ipch/
.klocwork/
view.dat
*.keep
*.sdf
*.suo
*.vcxproj.user
