*.o
*.d
.vs
.db
.suo
.coveragescope
desktop.ini
arc-en-ciel-22438_512x512.ico
*Error.txt
*Result.txt
*.orig
*.bak
.log/
Debug/
Release/
\ArcEnCiel\Debug
\ArcEnCiel\Release
ipch/
*.sdf
*.suo
*.vcxproj.user
*.VC.db
fileslist.txt
gitfileslist.txt