*.o
*.d
*.vs
*.db
*.suo
*.coveragescope
*.sdf
*.suo
*.vcxproj.user
*.orig
*.bak
.log/
Debug/
Release/
ipch/
/ArcEnCiel/Debug
/ArcEnCiel/Release
fileslist.txt
gitfileslist.txt
*Error.txt
*Result.txt
desktop.ini
arc-en-ciel-22438_512x512.ico
